In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import calendar

In [2]:
train=pd.read_csv('https://raw.githubusercontent.com/Abhinav184/Cab-Fare-Prediction/master/train_cab.csv')

In [3]:
train.head(50)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1.0
1,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1.0
2,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2.0
3,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1.0
4,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1.0
5,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1.0
6,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1.0
7,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1.0
8,NaN,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1.0
9,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2.0
10,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1.0
11,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3.0
12,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2.0
13,7,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1.0
14,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2.0
15,5,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1.0
16,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1.0
17,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1.0
18,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1.0
19,4,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1.0
20,10.5,2010-09-07 13:18:00 UTC,-73.985382,40.747858,-73.978377,40.762070,1.0
21,11.5,2013-02-12 12:15:46 UTC,-73.957954,40.779252,-73.961250,40.758787,1.0
22,4.5,2009-08-06 18:17:23 UTC,-73.991707,40.770505,-73.985459,40.763671,1.0
23,4.9,2010-12-06 12:29:00 UTC,-74.000632,40.747473,-73.986672,40.740577,1.0
24,6.1,2009-12-10 15:37:00 UTC,-73.969622,40.756973,-73.981152,40.759712,1.0
25,7.3,2011-06-21 16:15:00 UTC,-73.991875,40.754437,-73.977230,40.774323,3.0
26,NaN,2011-02-07 20:01:00 UTC,0.000000,0.000000,0.000000,0.000000,1.0
27,4.5,2011-06-28 19:47:00 UTC,-73.988893,40.760160,-73.986445,40.757857,3.0
28,9.3,2012-05-04 06:11:20 UTC,-73.989258,40.690835,-74.004133,40.725690,1.0
29,4.5,2013-08-11 00:52:00 UTC,-73.981020,40.737760,-73.980668,40.730497,2.0
30,5.5,2014-02-19 16:03:00 UTC,-73.976075,40.752422,-73.981082,40.759285,1.0
31,22.54,2015-06-21 21:46:34 UTC,-74.010483,40.717667,-73.985771,40.660366,NaN
32,31.9,2009-01-09 16:10:00 UTC,-73.873027,40.773883,-73.984545,40.769545,3.0
33,5.7,2011-09-07 14:05:00 UTC,-73.976162,40.744988,-73.990002,40.738323,2.0
34,18.1,2011-09-07 23:05:44 UTC,-73.993717,40.740785,-73.999272,40.676617,1.0
35,58,2015-01-11 03:15:38 UTC,-73.983330,40.738720,-73.933197,40.847225,1.0
36,4.5,2015-03-12 08:08:38 UTC,-73.990173,40.756447,-73.985619,40.762829,1.0
37,5.3,2012-01-19 10:15:30 UTC,-73.995199,40.754740,-74.005416,40.751084,1.0
38,9,2013-11-24 11:42:00 UTC,-73.957740,40.773617,-73.977087,40.758465,6.0
39,9.8,2009-03-02 20:42:49 UTC,-73.972673,40.759186,-73.969897,40.791367,1.0
40,8.1,2011-03-29 15:39:49 UTC,-73.984267,40.744961,-73.981646,40.759608,1.0
41,10.9,2011-10-15 10:55:24 UTC,-74.003899,40.725514,-73.976484,40.765537,2.0
42,17.5,2013-11-22 08:38:09 UTC,-73.978450,40.762920,-74.008482,40.716502,1.0
43,12.1,2009-06-10 21:28:00 UTC,-73.988558,40.737200,-73.958688,40.780748,1.0
44,5.3,2011-03-04 18:12:00 UTC,-73.997037,40.737095,-73.986128,40.735043,1.0
45,6.9,2011-08-31 21:14:15 UTC,-73.971114,40.758944,-73.977930,40.736613,1.0
46,4.5,2011-06-01 20:30:00 UTC,-73.980822,40.744420,-73.991093,40.748797,1.0
47,3.3,2011-12-14 07:53:00 UTC,-73.988877,40.763577,-73.985573,40.760262,1.0
48,3.3,2012-07-18 00:16:00 UTC,-73.986660,40.756072,-73.989727,40.751702,5.0
49,9,2013-01-29 12:26:00 UTC,-73.992253,40.742657,-73.983597,40.755947,1.0

In [4]:
print('The train data has',train.shape[0],'rows and',train.shape[1],'columns.')

The train data has 16067 rows and 7 columns.

In [5]:
test=pd.read_csv('https://raw.githubusercontent.com/Abhinav184/Cab-Fare-Prediction/master/test.csv')

In [6]:
test.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [7]:
print('The test data has',test.shape[0],'rows and',test.shape[1],'columns.')

The test data has 9914 rows and 6 columns.

# Exploratory Data Analysis

In [8]:
train.dtypes

fare_amount           object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      float64
dtype: object

In [9]:
test.dtypes

pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [10]:
train.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,16067.000000,16067.000000,16067.000000,16067.000000,16012.000000
mean,-72.462787,39.914725,-72.462328,39.897906,2.625070
std,10.578384,6.826587,10.575062,6.187087,60.844122
min,-74.438233,-74.006893,-74.429332,-74.006377,0.000000
25%,-73.992156,40.734927,-73.991182,40.734651,1.000000
50%,-73.981698,40.752603,-73.980172,40.753567,1.000000
75%,-73.966838,40.767381,-73.963643,40.768013,2.000000
max,40.766125,401.083332,40.802437,41.366138,5345.000000

In [11]:
test.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000

In [12]:
# Converting fare amount to float64 from object
train['fare_amount']=pd.to_numeric(train['fare_amount'],errors='coerce')

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16067 entries, 0 to 16066
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare_amount        16042 non-null  float64
 1   pickup_datetime    16067 non-null  object
 2   pickup_longitude   16067 non-null  float64
 3   pickup_latitude    16067 non-null  float64
 4   dropoff_longitude  16067 non-null  float64
 5   dropoff_latitude   16067 non-null  float64
 6   passenger_count    16012 non-null  float64
dtypes: float64(6), object(1)
memory usage: 878.8+ KB

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pickup_datetime    9914 non-null   object
 1   pickup_longitude   9914 non-null   float64
 2   pickup_latitude    9914 non-null   float64
 3   dropoff_longitude  9914 non-null   float64
 4   dropoff_latitude   9914 non-null   float64
 5   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 464.8+ KB

In [15]:
# Converting object to datetime
train['pickup_datetime']=pd.to_datetime(train['pickup_datetime'],errors='coerce')

In [16]:
train.dtypes

fare_amount                      float64
pickup_datetime      datetime64[ns, UTC]
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                  float64
dtype: object

In [17]:
# splitting the datetime in year,month,day,hour,minute,second
train['pickup_year']=train['pickup_datetime'].dt.year
train['pickup_month']=train['pickup_datetime'].dt.month
train['pickup_day']=train['pickup_datetime'].dt.day
train['pickup_hour']=train['pickup_datetime'].dt.hour
train['pickup_minute']=train['pickup_datetime'].dt.minute
train['pickup_second']=train['pickup_datetime'].dt.second

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16067 entries, 0 to 16066
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare_amount        16042 non-null  float64
 1   pickup_datetime    16066 non-null  datetime64[ns, UTC]
 2   pickup_longitude   16067 non-null  float64
 3   pickup_latitude    16067 non-null  float64
 4   dropoff_longitude  16067 non-null  float64
 5   dropoff_latitude   16067 non-null  float64
 6   passenger_count    16012 non-null  float64
 7   pickup_year        16066 non-null  float64
 8   pickup_month       16066 non-null  float64
 9   pickup_day         16066 non-null  float64
 10  pickup_hour        16066 non-null  float64
 11  pickup_minute      16066 non-null  float64
 12  pickup_second      16066 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(12)
memory usage: 1.6 MB

In [19]:
train=train.drop(['pickup_datetime'],axis=1)

In [20]:
train.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1.0,2009.0,6.0,15.0,17.0,26.0,21.0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1.0,2010.0,1.0,5.0,16.0,52.0,16.0
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2.0,2011.0,8.0,18.0,0.0,35.0,0.0
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1.0,2012.0,4.0,21.0,4.0,30.0,42.0
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1.0,2010.0,3.0,9.0,7.0,51.0,0.0

In [21]:
train=train[train['pickup_longitude']!=0]
train=train[train['pickup_latitude']!=0]
train=train[train['dropoff_longitude']!=0]
train=train[train['dropoff_latitude']!=0]

In [24]:
from math import sin,cos,sqrt,atan2,radians,asin

def distance(lon1,lat1,lon2,lat2):
    #converting latitude and longitude into radians
    lon1,lat1,lon2,lat2=map(np.radians,[lon1,lat1,lon2,lat2])
    
    dlon=lon2-lon1
    dlat=lat2-lat1
    
    a=np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    
    c=2*np.arcsin(np.sqrt(a))
    
    km=6367*c
    
    return km
train['Journey_Distance']=distance(train['pickup_longitude'],train['pickup_latitude'],train['dropoff_longitude'],train['dropoff_latitude'])

In [25]:
train['Journey_Distance'].describe()

count    15741.000000
mean         4.029316
std         55.998786
min          0.000000
25%          1.256354
50%          2.169302
75%          3.893920
max       5417.585418
Name: Journey_Distance, dtype: float64